<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表單完成</title>
</head>
<body>
    <h2>表單完成，已寄出信件!!</h2>
    <a href="/form"><h3>想再寄一次，請點擊回上頁</h3></a>
</body>
</html>